<div class="hero-unit">
  <h1>Lectures</h1>
  <ul>
  	<li ng-repeat="lecture in lectures"> <input type="radio" name="lecture" ng-model="currentLecture" value="lecture.name" ng-click="onclickLecture(lecture) ">{{ lecture.name }}</li>
  </ul>
</div>
